.element__trash {
  background-image: url('./../../../images/Trash.svg');
  width: 18px;
  height: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  transition: all .3s;
}

.element__trash:hover {
  opacity: .6;
}
